.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
  }
  
  /* Grid styles */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 200px;
  }
  
  .grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    font-weight: bold;
    font-size: 1.2em;
  }
  