.page-container {
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
  }
  
  /* Grid styles */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 90px);
    gap: 6px;
    width: 100%;
    padding: 10px;
    position: relative;
    
    .grid-item {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      color: #fff;
      padding: 20px;
      border: 1px solid #ccc;
      font-weight: bold;
      font-size: 1.2em;
      width: 50px;
      height: 80px;
    }
    
    .spin-animation { 
      animation: rotateY-anim .25s linear;
    }

    .startButton {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  

  
  @keyframes rotateY-anim {
    0% {
      transform: rotateY(0deg);
    }
  
    100% {
      transform: rotateY(360deg);
    }
  }