.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
  }
  
  /* Grid styles */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 200px;
  }
  
  .grid-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    font-weight: bold;
    font-size: 1.2em;
    animation: rotateY-anim 1s linear;
    width: 50px;
    height: 80px;
  }
  
  @keyframes rotateY-anim {
    0% {
      transform: rotateY(0deg);
    }
  
    100% {
      transform: rotateY(360deg);
    }
  }