.app-wrapper {

}

.app-grid-wrapper {
  text-align: center;
  background-color: #e3e3e1;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  font-family: monospace;
}

body {
  overflow: hidden;
}