.App {
  text-align: center;
  background-color: rgb(113 109 109);
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
}


